In [37]:
import pandas as pd
import numpy as np

import re
from sklearn.model_selection import train_test_split

In [58]:
df=pd.read_csv("project_dataset.csv")
df.head()
df.shape

(750, 5)

In [57]:
df["label"].value_counts()

label
reliable          204
official          193
misinformation    183
outdated          170
Name: count, dtype: int64

In [61]:
df = pd.read_csv("project_dataset.csv")

df.columns = df.columns.str.strip().str.lower()
df["text"] = df["text"].apply(normalize_text)

LABEL_MAP = {
    "official": 1,
    "reliable": 1,
    "misinformation": 0,
    "outdated": 0
}

df["label"] = df["label"].astype(str).str.strip().str.lower()
df = df[df["label"].isin(LABEL_MAP)].copy()
df["label_truth"] = df["label"].map(LABEL_MAP).astype(int)

df["timestamp"] = pd.to_datetime(df["timestamp"], errors="coerce")
df["timestamp"] = df["timestamp"].fillna(df["timestamp"].median())

df["source_type"] = df["source"].apply(source_to_type)

# KEEP DUPLICATES
df = df.sort_values("timestamp").copy()

df["id"] = range(1, len(df) + 1)

df.to_csv("truth_clean.csv", index=False)

print("Final rows:", len(df))
df["label"].value_counts()

Final rows: 750

label
reliable          204
official          193
misinformation    183
outdated          170
Name: count, dtype: int64

In [60]:
df.shape

(750, 8)

In [62]:
df["label"].value_counts()

label
reliable          204
official          193
misinformation    183
outdated          170
Name: count, dtype: int64

In [63]:
df.head()

,text,source,timestamp,location,label,label_truth,source_type,id
127,Bihar flood damage and evacuation route report...,Old Blog,2013-10-04 07:00:00,Bihar,outdated,0,unknown,1
347,Andhra Pradesh flood damage and evacuation rou...,Wikipedia,2013-10-11 07:00:00,Andhra Pradesh,outdated,0,unknown,2
614,Madhya Pradesh flood damage and evacuation rou...,Wikipedia,2013-10-15 07:00:00,Madhya Pradesh,outdated,0,unknown,3
678,West Bengal flood damage and evacuation route ...,Wikipedia,2013-10-29 07:00:00,West Bengal,outdated,0,unknown,4
185,Madhya Pradesh flood damage and evacuation rou...,Old Blog,2013-11-08 07:00:00,Madhya Pradesh,outdated,0,unknown,5